@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2019-08-27 14:38:46
 * @version $Id$
 */
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}