.logo{
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: center;
    background: #002140;
    img{
    	height: 60px;
    	width: 60px;
    	border-radius: 50%;
    }
}